.button {
	margin-top: 10px;
	color: white;
	background-color: #990000;
	border: hidden;
}

.login {
	font: bold 12px/ 17px Verdana, Arial, Helvetica, sans-serif;
	color: #006882;
}

.rich-panel-body-acc {
	background-color: white;
}

.rich-messages-label {
	font-style: italic;
	color: red;
}
#content {
	width: 500px;
	margin:50px auto ;
	padding: 15px 15px 15px 15px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.rich-messages-label {
	font-style: italic;
	color: red;
}
.rich-panel-header-auth {
	font: bold 18px/ 20px Georgia, "Times New Roman", Times, serif;
	color: white;
	text-transform: capitalize;
	margin: 0 0 0px 0;
	text-align: center;
}
.erreur {
	font: normal 12px/ 17px Verdana, Arial, Helvetica, sans-serif;
	color: red;
}
p {
	font: normal 12px/ 17px Verdana, Arial, Helvetica, sans-serif;
	color: #251C00;
	background-color: inherit;
	display: block;
}

 p span {
	font: bold 12px/ 17px Verdana, Arial, Helvetica, sans-serif;
	color: #006882;
	background-color: #FFFEFA;
}

 p a {
	font: normal 12px/ 17px Verdana, Arial, Helvetica, sans-serif;
	color: #1B7D01;
	background-color: inherit;
	text-decoration: underline;
}

 p a:hover {
	color: #1B7D01;
	background-color: #F7F0D9;
	text-decoration: none;
}