/* Document CSS TER CMS Jboss Seam */

body{
	padding:0;
	margin:0;
	background:url(../images/main_bg.gif) 0 0 repeat-x #fff;
	height:150px;
	color:#000;
}
/*
div, h1, h2, p, form, label, input, textarea, img, span{
	margin:0; padding:0;
}

ul{
	margin:0; 
	padding:0; 
	list-style-type:none;
	font-size:0;
}
.spacer{
	clear:both; 
	font-size:0; 
	line-height:0;
}
*/
/*------------------------------------------------fin body--------------------*/

/*------------------------------------------------debut header--------------------*/
#headerMain{
	width:100%;
}
#header{
	width:961px;
	height:180px;
	float:right;
	position:relative;
}

#top{
	background:url(../images/top_nav_bg.gif) 0 0 no-repeat;
	width:239px;
	height:18px;
	position:absolute;
	left:700px;
	top:8px;
	padding:0 0 0 15px;
	
}

#header .texte{
	float:left;
	display:block;
}

#top .hover{
	background:url(../images/home_icon.gif) 0 3px no-repeat;
	padding:0 0 0 18px;
	font:bold 10px/18px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#000;
	margin:0 21px 0 0;
	text-transform:uppercase;
	float:left;
	display:block;
	background-color:inherit;
}
#top .aide{
	background:url(../images/aide.gif) 0 3px no-repeat;
	padding:0 0 0 19px;
	font:bold 10px/17px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#000;
	text-transform:uppercase;
	text-decoration:none;
	display:block;
	margin:0 15px 0 0;
	background-color:inherit;
	float:left;
}
#top .deconnexion{
	background:url(../images/logout.png) 0 3px no-repeat;
	padding:0 0 0 20px;
	font:bold 10px/17px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#000;
	text-transform:uppercase;
	text-decoration:none;
	display:block;
	margin:0 15px 0 0;
	background-color:inherit;
	float:left;
}

#header .h1{
	font:bold 24px/27px Verdana, Arial, Helvetica, sans-serif;
	color:#fff;
	background-color:inherit;
	position:absolute;
	left:0;
	top:70px;
	text-transform:uppercase;
}
#header .p{
	font:normal 12px Verdana, Arial, Helvetica, sans-serif;
	color:#FEEDB7;
	background-color:inherit;
	position:absolute;
	left:24px;
	top:110px;
	text-transform:none;
	text-align:center;
	width:700px;
}
#nav {
	width:100%;
	height:20px;
	position:absolute;
	top:139px;
	margin:0;
	padding:0;	
}

#nav .ref{
	display:block;
	padding:0 15px;
	font:bold 11px/20px Verdana, Arial, Helvetica, sans-serif;
	color:#fff;
	background-color:inherit;
	text-decoration:none;
	float:left;
}

#nav .ref:hover{
	color:#fff;
	background-color:#990000;
	float:left;
}
/*------------------------------------------------fin header--------------------*/

/*------------------------------------------------debut content--------------------*/
#contentMain{
	width:100%;
	padding:0 0 15px 0;
}
#content{
	width:930px;
	margin:0 auto;
	padding: 15px 15px 15px 15px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	text-align:center;	
}
#content h2{
	font:bold 20px/25px Georgia, "Times New Roman", Times, serif;
	color:#202020;
	background-color:inherit;
	text-transform:uppercase;
	margin:0 0 21px 0;
	text-align:center;
	background:url(../images/left_link_bg.gif) 0 0 no-repeat #F0FFFF;
}
#content h2 span{
	font:normal 30px/18px Verdana, Arial, Helvetica, sans-serif;
	color:#970000;
	background-color:inherit;
	display:block;
}
#content p{
	font:normal 12px/17px Verdana, Arial, Helvetica, sans-serif;
	color:#251C00;
	background-color:inherit;
	margin:0 0 24px 0;
	display:block;
	width:447px;
}
#content p span{
	font:bold 12px/17px Verdana, Arial, Helvetica, sans-serif;
	color:#006882;
	background-color:#FFFEFA;
}
#content p a.link{
	font:normal 12px/17px Verdana, Arial, Helvetica, sans-serif;
	color:#1B7D01;
	background-color:inherit;
	text-decoration:underline;
}
#content p a.link:hover{
	color:#1B7D01;
	background-color:#F7F0D9;
	text-decoration:none;
}


/*------------------------------------------------fin content--------------------*/

/*------------------------------------------------debut footer--------------------*/
#footerMain{
	width:100%;
	height:130px;
	background:url(../images/footer_bg.gif) 0 0 repeat-x;
}
#footer{
	width:800px;
	margin:0 auto;
	height:110px;
	position:relative;
}


/*
#footer ul{
	width:500px;
	position:absolute;
	left:0px;
	top:20px;
}
#footer ul li{
	float:left;
	color:#FFFAE8;
	background-color:inherit;
	font:normal 11px/18px Verdana, Arial, Helvetica, sans-serif;
}
#footer ul li a{
	color:#FFFAE8;
	background-color:inherit;
	font:normal 10px Verdana, Arial, Helvetica, sans-serif;
	padding:0 11px;
	text-decoration:none;
}
#footer ul li a:hover{
	color:#FFFAE8;
	background-color:#C58C00;
}
*/
#footer .copyright{
	font:normal 10px Verdana, Arial, Helvetica, sans-serif;
	color:#fff;
	background-color:inherit;
	position:absolute;
	width:800px;
	text-align:center;
	top:30px;
}
#footer .xht{
	width:66px;
	height:14px;
	background:url(../images/xhtml_bg.gif) 0 0 no-repeat;
	font:normal 10px Verdana, Arial, Helvetica, sans-serif;
	color:#C58C00;
	background-color:inherit;
	position:absolute;
	left:300px;
	top:70px;
	margin:0;
	text-align:center;
	text-decoration:none;
}
#footer .xht:hover{
	background:url(../images/xhtml_bg_hover.gif) 0 0 no-repeat;
	color:#000;
	background-color:inherit;
}
#footer .cs{
	width:66px;
	height:14px;
	background:url(../images/xhtml_bg.gif) 0 0 no-repeat;
	font:normal 10px Verdana, Arial, Helvetica, sans-serif;
	color:#C58C00;
	background-color:inherit;
	position:absolute;
	left:400px;
	top:70px;
	margin:0;
	text-align:center;
	text-decoration:none;
}
#footer .cs:hover{
	background:url(../images/xhtml_bg_hover.gif) 0 0 no-repeat;
	color:#000;
	background-color:inherit;
}
#footer .design{
	text-align:center;
	display:block;
	width:800px;
	height:12px;
	padding:2px;
	position:absolute;
	top:45px;
	font:normal 10px Verdana, Arial, Helvetica, sans-serif;
	color:#FFFAE8;
	background-color:inherit;
	text-transform:none;
}
/*------------------------------------------------fin footer--------------------*/
